* {
  margin: 0px;
  padding: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App{
    /* width: 50%; */
    height: 100%; 
    margin: 0 auto;
    /* overflow: hidden; */
    background-color: #f4f4f4;
}